button {
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 15px;
    font-size: 40px;
}

button:hover {
    background-color: white;
    color: black;
    transition: 1s;
}

.num-count {
    font-size: 50px;
    color: black;
}

.container{
    display: flex;
    flex-direction: column;
}